body{
  background-color: rgb(238,144,144);
  font-family: Arial;
  text-align: center;
}
h1{
  color: rgb(14,1,3);
  margin-bottom: 20px;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 18px;
}
a{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: rgb(100,0,28);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
a:hover{
  background-color: rgb(134,46,139);
}