body{
  background-color: lightcyan;
  font-family: Arial;
  text-align: center;
}
h1{
  color: darkblue;
  margin-bottom: 20px;
}
form{
  background-color: white;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: left;
}
label{
  font-weight: bold;
}
input[type="text"],
input[type="email"]
textarea{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"]{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
input[type="submit"]:hover{
  background-color: royalblue;
}
a{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
a:hover{
  background-color: royalblue;
}
