body{
  background-color: lightyellow;
  font-family: Arial;
  text-align: center;
}
h1{
  color: darkblue;
  margin-bottom: 20px;
}
table{
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 6px rgba (0,0,0,0.2) ;
}
th, td{
  padding: 50px 100px;
  border: 2px solid black;
  font-size: 18px;
}
th{
  background-color: skyblue;
  color: black;
}
tr:nth-child(odd){
  background-color: #9c4a4a;
}
a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
a:hover{
  background-color: royalblue;
}










