body{
  font-family: Arial;
  background-color: #f5f7fa;
  color: #222;
  text-align: center;
  padding: 20px;
}
h1{
  color: #1a237e;
  margin-bottom: 10px;
}
h2{
  color: #3949ab;
  margin-bottom: 15px;
}
nav{
  background-color: #283593;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 8px;
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  transition: 0.3s;
}
nav ul li a:hover{
  background-color: #5c6bc0;
  border-radius: 6px;
}
img{
  width: 500px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
p{
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}