body{
  background-color: lightpink;
  font-family: Artial;
  text-align: center;
}
h1{
  color: darkred;
  margin-top: 20px;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  background-color: white;
  margin: 30px auto;
  padding: 10px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0.2px 5px rgba(0, 0, 0, 0.2) 
}
img{
  width: 300px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
a{
  display: inline-block;
  margin-top: 20px;
  color: white;
  background-color: darkred;
  padding: 10px 20px;
  border-radius: 8px;
}
a:hover{
  background-color: crimson;
}